<!-- MAIN HANDLEBARS -->
<!-- head including bulma, fonts, font awesome icons, and css stylesheets -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MedPortal</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora&family=Raleway&family=Sora&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <!-- HEADER / NAVBAR -->
    <!-- header with navbar including: title & logo, dashboard, appointment, and logout references-->
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">

          <a class="navbar-item" href="/">
            <!-- add hermes staff logo -->
            <h1 class="title">
              MedPortal
            </h1>
          </a>
        </div>
        <!-- if else logged in statement -->
        <div class="navbar-end my-3 px-3">
          {{#if loggedIn}}
            <a class="navbar-item" href="/dashboard">
              Dashboard
            </a>
            <a class="navbar-item" href="/appointment">
              Appointment
            </a>
            <a class="navbar-item" id="logout" href="/logout">
              Logout
            </a>
          {{else}}
            <a class="navbar-item" href="/login">Login</a>
          {{/if}}
        </div>
      </nav>
    </header>

    <!-- HERO -->
    <!-- header upcoming appointments, schedule appointment title links to appointment page -->
    <!-- current date and time populate at top of page-->
    <section class="hero is-halfheight">
      <div class="hero-body has-text-centered">
        <div class="container">
          <h2 class="title is-1 px-5 py-5">Upcoming Appointments</h2>
          <a class="subtitle is-4 px-6 py-6" href="/appointment">Schedule
            Appointment</a>
        </div>
      </div>
    </section>

    <!-- TILES -->
    <!-- notes partials, notes populate on tiles -->
    <!-- appointment partials, populate on tiles-->
    <!-- section for dashboard (portal) with bulma tiles including: including containers for patient name, pcp, notes & cancellation -->
    <section class="tile is-ancestor has-text-centered mx-3 my-3">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title" class="patient-one" id="patient">Patient Name</p>
          <p class="subtitle" class="doctor-one" id="doctor">Doctor Name</p>
          <button type="submit" class="button my-2 py-2">Add Notes</button>
          <a class="cancel-appointment" id="delete">Cancel Appointment</a>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title" class="patient-two" id="patient">Patient Name</p>
          <p class="subtitle" class="doctor-two" id="doctor">Doctor Name</p>
          <button type="submit" class="button my-2 py-2">Add Notes</button>
          <a class="cancel-appointment" id="delete">Cancel Appointment</a>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title" class="patient-three" id="patient">Patient Name</p>
          <p class="subtitle" class="doctor-three" id="doctor">Doctor Name</p>
          <button type="submit" class="button my-2 py-2">Add Notes</button>
          <a class="cancel-appointment" id="delete">Cancel Appointment</a>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title" class="patient-four" id="patient">Patient Name</p>
          <p class="subtitle" class="doctor-four" id="doctor">Doctor Name</p>
          <button type="submit" class="button my-2 py-2">Add Notes</button>
          <a class="cancel-appointment" id="delete">Cancel Appointment</a>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title" class="patient-five" id="patient">Patient Name</p>
          <p class="subtitle" class="doctor-five" id="doctor">Doctor Name</p>
          <button type="submit" class="button my-2 py-2">Add Notes</button>
          <a class="cancel-appointment" id="delete">Cancel Appointment</a>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title" class="patient-six" id="patient">Patient Name</p>
          <p class="subtitle" class="doctor-six" id="doctor">Doctor Name</p>
          <button type="submit" class="button my-2 py-2">Add Notes</button>
          <a class="cancel-appointment" id="delete">Cancel Appointment</a>
        </article>
      </div>

    </section>

    <!-- footer -->
    <footer class="footer">
      <div class="content has-text-centered is-small">
        <p>
          &copy; 2022 | Built with &#128420; by Colt Schultz, Jennifer Jennings,
          and Cheryl Cruz
        </p>
      </div>
    </footer>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>