<!-- MAIN HANDLEBARS -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MedPortal</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora&family=Raleway&family=Sora&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <!-- header / navbar -->

    <!-- head including bulma stylesheet, css stylesheet, and MedPortal title -->
    <!-- header with navbar including: title & logo, dashboard, appointment, and logout buttons-->
    <!-- header upcoming appointments, schedule appointment title links to appointment page -->
    <!-- current date and time populate at top of page-->

    <!-- tiles -->
    <!-- notes partials, notes populate on tiles -->
    <!-- appointment partials, populate on tiles-->
    <!-- section for dashboard (portal) with bulma tiles including: including containers for patient name, pcp, notes & cancellation -->

    <!-- footer -->

  </body>
</html>