<!-- MAIN HANDLEBARS -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MedPortal</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora&family=Raleway&family=Sora&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>

  <body>
    <!-- HEADER / NAVBAR -->
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item logo" href="/">
            <h1 class="title">
              MedPortal
            </h1>
          </a>
        </div>
        <!-- if else logged in statement -->
        <div class="navbar-end my-3 px-3">
          {{#if loggedIn}}
            <a class="navbar-item" href="/view-all">
              View Appointments
            </a>
            <a class="navbar-item" href="/appointment">
              Add Appointment
            </a>
            <a class="navbar-item" href="/new-patient">
              Add Patient
            </a>
            <a class="navbar-item" id="logout">
              Logout
            </a>
            <a class="navbar-item" id="logout">
              {{this.user}}
            </a>
          {{else}}
            <a class="navbar-item" href="/login">Login</a>
          {{/if}}
        </div>
      </nav>
    </header>

    {{{body}}}

    <!-- footer -->
    <footer class="footer">
      <div class="content has-text-centered is-small">
        <p>
          &copy; 2022 | Built with &#128420; by Colt Schultz, Jennifer Jennings,
          and Cheryl Cruz
        </p>
      </div>
    </footer>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>