<!-- APPOINTMENT HANDLEBARS -->
<!-- section for appointments -->
<!-- title: add new appointment -->
<!-- large bulma ancestor tile including: patient name, pcp name (dropdown), add notes, and datepicker  -->
<!-- save button -->
<!-- section to view added appointments, addtional feature: add comments to saved appointments -->

<!-- center tile in css -->

{{!-- Begin Datepicker Scripts --}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{{!-- End Datepicker Scripts --}}

<h1 class="title is-1 has-text-centered mx-6 my-6 px-6 py-6">Add Appointment</h1>
<section class="tile is-ancestor mx-6 my-6 px-4 py-4">
  <div class="tile is-parent is-vertical">
    <div class="tile is-child box">
      <form class="field mx-4 my-4 px-3 py-3">

        <!-- patient name -->
        <div class="box">
          <label class="label" for="patient-name">Patient name:</label>
          <input class="input" type="text" id="patient" />
        </div>
        
        <!-- PCP w/ dropdown -->
        <div class="box">
          <label class="label" for="pcp-name">PCP:</label>
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <button
                class="button"
                aria-haspopup="true"
                aria-controls="dropdown-menu"
              >
                <span>Choose PCP</span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a class="dropdown-item">Jeff Bezos, MD</a>
                <hr class="dropdown-divider" />
                <a class="dropdown-item">Elon Musk, FNP</a>
                <hr class="dropdown-divider" />
                <a class="dropdown-item">Peter Thiel, FNP</a>
                
              </div>
            </div>
          </div>
        </div>
        <!-- Pick a date -->
        <div class="box">
          <label class="label" for="patient-name">Appointment Date/Time:</label>
          <input class="input" type="text" name="date" value="5/16 10:00 AM" />
            <script>
            $(function() {
              $('input[name="date"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 2022,
                maxYear: parseInt(moment().format('YYYY'),10),
                timePicker: true,
                locale: {
                  format: 'M/DD hh:mm A'
                }
              });
            });
            </script>
        </div>
        
        <!-- add notes -->
        <div class="box">
          <label class="label" for="notes">Add Notes:</label>
          <div class="control">
            <textarea class="textarea" placeholder="Start typing..."></textarea>
          </div>
        </div>
        

      </form>
      <!-- save button -->
      <div class="field is-grouped">
        <button type="submit" class="save-btn button">Save</button>
      </div>

    </div>
  </div>
</section>

<!-- add in if else appointments -->
<!-- new tile for edit section -->
{{#if appointments.length}}
<h2 class="subtitle has-text-centered">Edit Appointments</h2>
<section class="tile is-ancestor is-flex-wrap-wrap">
<div class="tile is-parent is-3">
    <div class="tile is-child box">
        <ol>
            {{#each appointments as |appointment|}}
            <li>
                {{> appointment-info appointment}}
                <a href="/dashboard/edit/{{appointment.id}} class="edit-link">Edit appointment</a>
            </li>
            {{/each}}
        </ol>
    </div>
</div>
</section>
{{/if}}

<script src="/javascript/add-appointment.js"></script>