
    <section class="hero is-halfheight">
      <div class="hero-body has-text-centered">
        <div class="container">
          <h2 class="title main-title is-1 px-5 py-5">Upcoming Appointments</h2>
          <a class="subtitle main-sub is-4 px-6 py-6" href="/appointment">Schedule
            Appointment</a>
        </div>
      </div>
    </section>
{{#if loggedIn}}
  <div class="tile is-ancestor is-flex-wrap-wrap">
  {{#each appointments as |appointment|}}
    
      {{> appointment-info appointment }}
    
  {{/each}}
  </div>
{{!-- {{else}}
<a class="navbar-item" href="/login">Login</a> --}}
{{/if}}