{{! Login Page }}
<div class="columns is-mobile">
  <div class="login-background column is-half"></div>

  <div class="column user">
    <!-- login form -->
    <form class="field my-6" id="login-form">
      <!-- user -->
      <label class="label login-name my-3" for="email-login">email:</label>
      <input class="input login-input" type="text" id="email-login" />
      <!-- password -->
      <label
        class="label my-3 login-name"
        for="password-login"
      >password:</label>
      <input class="input login-input" type="password" id="password-login" />
      <div class="field is-grouped">
        {{! Submit }}
        <button
          type="submit"
          id="login-button"
          class="button login-btn my-4"
        >login</button>
      </div>
      {{! Create Account Link }}
      <a href="/create" class="create">New user? Create an account</a>
    </form>
  </div>
</div>
<script src="/javascript/login.js"></script>