<!-- LOGIN HANDLEBARS -->
<!-- login form including username, email, password -->
<!-- signup form including username, email, password -->
<!-- buttons for login and signup submission -->
<!-- include javascript login script bottom of file -->
<!-- add left wrapper for img/ right wrapper for login data -->
<div class="left-wrapper"></div>

<div class="right-wrapper mx-6 my-6 px-6 py-6">
  <!-- login -->
  <form class="field" id="login-form">
    <!-- user -->
    <label class="label" for="username-login">username:</label>
    <input class="input" type="text" id="username-login" />
    <!-- password -->
    <label class="label" for="password-login">password:</label>
    <input class="input" type="password" id="password-login" />
  </form>
  <div class="field is-grouped">
    <button type="submit" id="login-button" class="button login-btn">login</button>
  </div>

  <!-- signup -->
  <form class="field" id="signup-form">
    <!-- user signup -->
    <label class="label" for="username-signup">username:</label>
    <input class="input" type="text" id="username-signup" />
    <!-- email -->
    <label class="label" for="email-signup">email:</label>
    <input class="input" type="text" id="email-signup" />
    <!-- password -->
    <label class="label" for="password-signup">password:</label>
    <input class="input" type="password" id="password-signup" />
  </form>
  <div class="field is-grouped">
    <button type="submit" id="signup-button" class="button signup-btn">signup</button>
  </div>
</div>

<script src="/javascript/login.js"></script>