<!-- LOGIN HANDLEBARS -->
<!-- login form including username, email, password -->
<!-- signup form including username, email, password -->
<!-- buttons for login and signup submission -->
<!-- include javascript login script bottom of file -->
<!-- add left wrapper for img/ right wrapper for login data -->
<div class="columns is-mobile">
  <div class="login-background column is-half"></div>

  <div class="column is-half">
    <!-- login -->
    <form class="field" id="login-form">
      <!-- user -->
      <label class="label" for="email-login">email:</label>
      <input class="input" type="text" id="email-login" />
      <!-- password -->
      <label class="label" for="password-login">password:</label>
      <input class="input" type="password" id="password-login" />
      <div class="field is-grouped">
        <button type="submit" id="login-button" class="button login-btn">login</button>
      </div>
      <a href="/create">New user? Create an account</a>
    </form>
  </div>
</div>
<script src="/javascript/login.js"></script>