{{!-- This file is not in use in the current version --}}

<div class="has-text-centered">
  <form class="field my-6 mx-6" id="signup-form">
    <label
      class="label title is-3 my-6 patient-name"
      for="username-signup"
    >Patient Name:</label>
    <input class="input mx-2" type="text" id="username-signup" />
    <div class="has-text-centered my-5">
      <button
        type="submit"
        id="signup-button"
        class="button signup-btn"
      >Create</button>
    </div>
  </form>
</div>

<script src="/javascript/new-patient.js"></script>