<div>
  <form class="field" id="signup-form">
    <label class="label" for="username-signup">Patient Name:</label>
    <input class="input" type="text" id="username-signup" />
  <div class="field is-grouped">
    <button type="submit" id="signup-button" class="button signup-btn">Create Patient</button>
  </div>
  </form>
</div>



<script src="/javascript/new-patient.js"></script>