/* ROOT */
:root {
  --teal: #5da1b4;
}

* {
  box-sizing: border-box;
}

/* FONT STYLES */
body,
.title,
.subtitle {
  font-family: 'Lora', sans-serif;
}
.navbar,
.main-title,
.main-sub {
  font-family: 'Sora', sans-serif;
}

.column,
.main-wrap,
.login-btn,
.signup-btn,
.button {
  font-family: 'Raleway', sans-serif;
}

/* LOGO */
/* - css horizontal color gradient */

/* HERO */
.hero {
  position: sticky;
  position: -webkit-sticky;
  background-image: url('https://wallpaperaccess.com/full/177883.jpg');
  background-size: cover;
  background-attachment: fixed;
  z-index: 9999;
}

/* LOGIN */
.columns {
  background-color: var(--teal);
}

.login-background {
  position: sticky;
  position: -webkit-sticky;
  background-image: url('https://cdn.discordapp.com/attachments/954088226954547281/976292085302956062/clay-banks-cEzMOp5FtV4-unsplash-1.jpg');
  background-size: cover;
  background-position: center;
}

.column {
  height: 1000px;
}

.user {
  padding: 8%;
  padding-bottom: 7%;
}

.login-name {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
}
.login-input {
  border-color: white 10px;
}
.login-btn {
  background-color: var(--teal);
  color: white;
  font-weight: 600;
}

.login-btn:hover {
  background-color: white;
  color: var(--teal);
}

.create {
  color: white;
}

.create:hover {
  color: #1155ccff;
}
/* SIGNUP */

/* NAVBAR */

/* TILES */

/* FOOTER */

/* EDIT APPOINTMENT */

/* ADD APPOINTMENT */

/* ADD PATIENT */
