/* ROOT */
* {
  box-sizing: border-box;
}
/* FONT STYLES */
body,
.title,
.subtitle {
  font-family: 'Lora', sans-serif;
}
.navbar,
.main-title,
.main-sub {
  font-family: 'Sora', sans-serif;
}

.column,
.main-wrap,
.login-btn,
.signup-btn,
.button {
  font-family: 'Raleway', sans-serif;
}

/* LOGO */

/* LOGIN */

.login-background {
  background-image: url('https://cdn.discordapp.com/attachments/954088226954547281/975904727223132160/clay-banks-cEzMOp5FtV4-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

/* SIGNUP */

/* NAVBAR */

/* HERO */

/* TILES */

/* FOOTER */

/* ADD APPOINTMENT */

/* ADD PATIENT */
